<table>
  <tr>
    <th>Subject</th>
	<th>Marks</th>
  </tr>
 
  <% @result.each do |result| %>
    <tr>
	  <td><%= result.subject %></td>
	  <td><%= result.marks %></td>
    </tr>
  <% end %>
</table>