<h1>Listing Result</h1>
<%= link_to 'New Result', new_result_path %>
<table>
  <tr>
    <th>Student Id</th>
	<th>Subject</th>
	<th>Marks</th>
  </tr>
 
  <% @result.each do |result| %>
    <tr>
      <td><%= result.sid %></td>
	  <td><%= result.subject %></td>
	  <td><%= result.marks %></td>
    </tr>
  <% end %>
</table>